Repository layercodedev/sled: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

.lintstagedrc.json:

{
  "{app,server-client}/**/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "**/*.{css,md,json,yml,yaml}": ["prettier --write"],
  "*.{js,jsx,ts,tsx,css,md,json,yml,yaml}": [
    "sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip'",
    "sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'"
  ]
}

migration script
  app/scripts/run-migrations.sh
  package.json
Due: prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

update readme
  README.md
Due: prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

Create pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

cancel response working
  .gitignore
  app/public/css/app.css
  app/public/js/chat.js
  app/src/chatSession.ts
  app/src/chatUiRenderer.tsx
  app/src/durableObject.ts
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

don't kill agent when response cancelled
  app/src/durableObject.ts
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

fix msgs being split up. fix end session dialog.
  .gitignore
  app/public/css/app.css
  app/public/js/chat.js
  app/src/chatSession.ts
  app/src/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

style tweaks
  app/public/css/app.css
  app/public/js/chat.js
  app/src/chatRenderer.tsx
  app/src/index.tsx
  app/src/pages.tsx
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

move session title gen to voice api
  app/public/js/voice-client.js
  app/src/index.tsx
  app/src/pages.tsx
  app/src/tts.ts
  app/src/utils.ts
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

Create favicon.png
  app/public/img/favicon.png
Due: none

favicon
  app/src/index.tsx
  app/src/pages.tsx
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

styling
  app/public/css/app.css
  app/public/img/favicon.svg
  app/public/js/chat.js
  app/src/chatSession.ts
  app/src/chatUiRenderer.tsx
  app/src/durableObject.ts
  app/src/index.tsx
  app/src/pages.tsx
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

styles
  app/public/css/app.css
Due: prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

favicon
  app/public/img/favicon.png
  app/public/img/favicon.svg
Due: none

Update app.css
  app/public/css/app.css
Due: prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

fix history msg rendering
  app/public/js/chat.js
  app/src/chatSession.ts
  app/src/durableObject.ts
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

Improve README with clipboard.js-style format
  README.md
  mockup.gif
Due: prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

refactor msg rendering and make more DRY
  app/public/js/chat.js
  app/src/chatUiRenderer.tsx
  app/src/durableObject.ts
  app/src/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

Persisted permission mode selection across reloads by saving the last choice per agent and reapplying it on reconnect, and made the tooltip badge reflect the active mode
  app/public/css/app.css
  app/public/js/chat.js
  app/src/chatSession.ts
  app/src/durableObject.ts
  app/src/pages.tsx
  app/src/types.ts
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

1. When a browser reconnected to an agent chat (after refresh or navigate away/back), the code was reusing the existing chatSession to "preserve pendingPrompts state". However, this caused a bug:
  README.md
  app/src/chatSession.ts
  app/src/durableObject.ts
  app/src/index.tsx
  app/src/pages.tsx
  app/src/types.ts
  app/src/utils.ts
  app/wrangler.jsonc
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

1. Stuck Agent Bug (main issue)
  README.md
  app/scripts/run-migrations.sh
  app/src/chatSession.ts
  app/src/durableObject.ts
  app/src/index.tsx
  app/src/pages.tsx
  app/src/types.ts
  app/tests/env.d.ts
  app/vitest.config.js
  app/vitest.config.ts
  app/worker-configuration.d.ts
  app/wrangler.jsonc
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

1. codex support 2. show login required msg
  README.md
  app/public/css/app.css
  app/src/chatSession.ts
  app/src/chatUiRenderer.tsx
  app/src/durableObject.ts
  app/src/index.tsx
  app/src/pages.tsx
  app/src/types.ts
  app/src/utils.ts
  server-client/src/acp-ws-proxy.ts
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

Fix voice playback replay
  app/public/js/voice-client.js
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

Update README.md
  README.md
Due: prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

Update demo GIF
  mockup.gif
Due: none

Use hosted GIF from Cloudflare
  README.md
  mockup.gif
Due: prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

Use hosted GIF from Cloudflare CDN
  README.md
  mockup.gif
Due: prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

Fix UI bugs: sidebar title overflow, history sounds, blank messages
  app/public/css/app.css
  app/public/js/chat.js
  app/src/chatSession.ts
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

Add speaker mute button and refactor icons to external SVG files
  app/public/css/app.css
  app/public/img/arrow-left.svg
  app/public/img/arrow-up.svg
  app/public/img/check.svg
  app/public/img/chevrons-left.svg
  app/public/img/copy.svg
  app/public/img/info.svg
  app/public/img/message-square.svg
  app/public/img/mic-off.svg
  app/public/img/mic.svg
  app/public/img/plus.svg
  app/public/img/shield.svg
  app/public/img/stop.svg
  app/public/img/volume-2.svg
  app/public/img/volume-off.svg
  app/public/img/x.svg
  app/public/js/voice-client.js
  app/src/chatUiRenderer.tsx
  app/src/pages.tsx
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

opencode support. But auth is not being inherited after login.
  README.md
  app/public/css/app.css
  app/src/agentProtocolSession.ts
  app/src/chatSession.ts
  app/src/chatUiRenderer.tsx
  app/src/durableObject.ts
  app/src/index.tsx
  app/src/pages.tsx
  app/src/types.ts
  server-client/src/acp-ws-proxy.ts
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

fix(proxy): ensure stable internal communication for remote access
  app/package.json
  server-client/src/acp-ws-proxy.ts
  server-client/src/local-agent-manager.ts
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

Add Codex session sync
  README.md
  app/migrations/0008_agent_codex_session.sql
  app/scripts/run-migrations.sh
  app/src/db.ts
  app/src/durableObject.ts
  app/src/index.tsx
  app/src/types.ts
  server-client/src/codex-history.ts
  server-client/src/local-agent-manager.ts
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

Add optional HTTP Basic Auth
  README.md
  app/src/index.tsx
  app/src/types.ts
Due: eslint --fix --max-warnings=0, prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'

Make migrations idempotent
  app/scripts/run-migrations.sh
Due: none

run migrations with bash
  package.json
Due: prettier --write, sh -c 'pnpm -w --filter ./app knip && pnpm -w --filter ./server-client knip', sh -c 'pnpm -w --filter ./app jscpd && pnpm -w --filter ./server-client jscpd'
